.itemName{
    font-size: 20px;
    font-weight: bolder;
    text-align: left;
}

.itemDesc{
    font-size: 16px;
    font-weight: lighter;
}

.itemSkills{
    &-title{
        font-size: 18px;
        font-weight: bolder;
    }
}

.itemSalary{
    &-title{
        font-size: 18px;
        font-weight: bolder;
    }
}