.header{
    max-width: 100%;
    max-height: 100%;
}


.main{
    display: grid;
    grid-template-rows: 1.4fr 14fr;
    grid-template-areas:
    'header'
    'content'
    ;
}

.content{
    overflow: auto;
    height: 90%;
    width: 40%;
    padding-top: 1rem;
    grid-area: content;
    border: 1px solid;
    border-radius:7px;
}


